<div class="container">
    <div class="jumbotron text-center">
        <h1>There are <span class="label label-info">{{vm.todos.length}}</span> Things ToDo</h1>
    </div>
    <div ng-repeat="todo in vm.todos">
        <div class="row todo-item">
            <div class="col-sm-4 col-sm-offset-4">
                <p>{{ todo.text }}</p>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-success"><i class="fa fa-check"></i></button>
                <button class="btn btn-danger" ng-click="vm.deleteTodo(todo._id)"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
    <p class="text-center" ng-show="vm.loading"><i class="fa fa-spinner fa-spin fa-3x"></i></p>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center"
                           placeholder="So much to do...so little time"
                           ng-model="vm.formData.text">
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.createTodo()">Add</button>
            </form>
        </div>
    </div>
</div>
