@dateColor: #aaa;
@atmHeaderBg: #16222a;

.atm-card {
    border: 1px solid @atmHeaderBg;
    margin: 20px 0;

    .atm-card-header {
        color: white;
        background: linear-gradient(@atmHeaderBg, lighten(@atmHeaderBg, 30%));
        padding: 10px 10px;

        .fa {
            cursor: pointer;
            color: white;
        }

        a {
            font-style: italic;
            text-decoration: none;
            color: white;
        }

        .date {
            font-style: italic;
            color: @dateColor;
            float: right;
            font-size: 80%;
        }
        .location {
            color: lighten(@dateColor, 20%);
            font-style: italic;
        }
    }

    .atm-card-body {
        background: white;
        font-size: 22px;

        .atm-list {
            font-size: 18px;
        }

        .table {
            margin-bottom: 0;

            .fa {
                cursor: pointer;
            }
            tbody tr td .fa-trash {
                width: 25px;
            }
        }

        tfoot {
            font-weight: bold;
            font-style: italic;
            color: green;
            border-top: 2px solid #777;
        }
    }
}

.atm-details-item {
    font-size: 22px;
}

.atm-list-page {
    min-height: 400px;
}

.new-atm-page, .atm-details-page {
    min-height: 750px;
}

.new-atm-form {
    margin-top: 80px;
    background: lighten(@pageBg, 5);
    padding: 20px 30px;

    .new-atm-form-header {
        color: @bannerBg;
    }
}


.amount {
    font-size: 18px;
    font-weight: bold;
}

.remaining {
    color: #003366;
}
