@dateColor: #aaa;
@atmHeaderBg: #16222a;

.atm-card {
    border: 1px solid @atmHeaderBg;
    margin: 20px 0;

    .atm-card-header {
        color: white;
        background: linear-gradient(@atmHeaderBg, lighten(@atmHeaderBg, 30%));
        padding: 10px 10px;

        .fa {
            cursor: pointer;
            color: white;
        }

        .date {
            font-style: italic;
            color: @dateColor;
            float: right;
            font-size: 80%;
        }
        .location {
            color: lighten(@dateColor, 20%);
            font-style: italic;
        }
    }

    .atm-card-body {
        background: white;
        font-size: 22px;

        .table {
            margin-bottom: 0;
        }

        tfoot {
            font-weight: bold;
            font-style: italic;
            color: green;
            border-top: 2px solid #777;
        }
    }
}

.atm-details-item {
    font-size: 22px;
}

.amount {
    font-size: 18px;
    font-weight: bold;
}

.remaining {
    color: #003366;
}
