@footerHeight: 180px;

.footer {
    width: 100%;
    min-height: @footerHeight;
    background: #222;
    color: #eee;
    font-size: 14px;
    clear: both;

    h6 {
        font-size: 18px;
        color: #bbb;
    }
}

.unstyled {
    list-style: none;
    padding: 0;
}