@footerHeight: 180px;

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -180px;
}

.wrap:after {
    content: "";
    display: block;
}

.navbar .navbar-form button {
    margin-right: 30px;
}

.todo-item {
    padding-bottom: 10px;
}

.footer, .wrap:after {
    height: @footerHeight;
}

.footer {
    width: 100%;
    height: @footerHeight;
    background: #333;
    color: #eee;
    font-size: 14px;
    h6 {
        font-size: 18px;
        color: #bbb;
    }
}

.unstyled {
    list-style: none;
    padding: 0;
}

.toast-top-right {
    top: 55px;
}

.toast-bottom-right {
    bottom: @footerHeight;
}
