.navbar .navbar-form button {
    margin-right: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 220px;
    background: #333;
    color: #eee;
    padding: 20px;
    font-size: 14px;
}

.unstyled {
    list-style: none;
    padding: 0;
}

.toast-top-right {
    top: 55px;
}

.toast-bottom-right {
    bottom: 55px;
}
