@import 'vars';
@import 'atm';
@import 'todo';
@import 'footer';

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.banner {
    width: 100%;
    min-height: 300px;
    background: -o-linear-gradient(@bannerBg, darken(@bannerBg, 15%));
    background: linear-gradient(@bannerBg, darken(@bannerBg, 15%));
    color: #ccc;
    padding-bottom: 20px;
    h1 {
        font-size: 64px;
        margin: 0;
        padding: 20px 0;
    }
}

/*
.navbar-brand {
    padding-top: 5px;
}
*/

.navbar {
    margin-bottom: 0;

    .navbar-form button {
        margin-right: 30px;
    }
}

.mean-components {
    margin: 20px auto 0 auto;

    .mean-img {
        height: 70px;
        margin-bottom: 5px;
    }

    .mean-description {
        min-height: 110px;
    }
}

.middle {
    background-color: @pageBg;
    padding-bottom: 20px;
}

.tile {
    background: white;
    opacity: 0.7;
    height: 175px;
    margin: 50px 10px;

    .tile-content {
        padding: 25px 0;
        color: #aaa;
    }

    &:hover {
        opacity: 1.0;
    }
}

.clickable {
    cursor: pointer;
}

.animate-scale-up {
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.contact-page {
    min-height: 600px;
}
.about-page {
    min-height: 300px;
}

.user-list .new-atm-page {
    min-height: 750px;
}

.about-features {
    padding-top: 20px;
}

.toast-top-right {
    top: 55px;
}

.toast-bottom-right {
    bottom: @footerHeight;
}
