<div class="middle user-list">
    <div class="container">
        <div class="mean-form">
            <div class="mean-form-header">
                <h1>Admin Page</h1>
            </div>
            <hr>
            <p class="lead">There are {{vm.users.length}} registered users.</p>
            <h3>Users List</h3>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" placeholder="Search for user..." ng-model="vm.query"/>
            </div>
            <div class="pull-right">
                <a href="/admin/users-grid" class="btn btn-default" ng-click="vm.toggleGridLayout()" ng-hide="vm.showGridLayout">
                    <i class="fa fa-th"></i> Grid Layout
                </a>
            </div>
            <p class="text-center" ng-show="vm.loading"><i class="fa fa-spinner fa-spin fa-3x"></i></p>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th><span class="clickable" ng-click="vm.changeSortColumn('roles')">Admin</span></th>
                    <th><span class="clickable" ng-click="vm.changeSortColumn('createdOn')">Created On</span></th>
                    <th><span class="clickable" ng-click="vm.changeSortColumn('lastModified')">Last Modified</span></th>
                    <th><span class="clickable" ng-click="vm.changeSortColumn('lastLogin')">Last Login</span></th>
                    <th></th>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.users | filter: vm.query | orderBy:vm.userTableSortCol">
                    <td>{{ user.firstName + ' ' + user.lastName }}</td>
                    <td>{{ user.local.username }}</td>
                    <td>{{ user.email }}</td>
                    <td><span ng-if="vm.isAdmin(user)"><i class="fa fa-check"></i></span></td>
                    <td>{{ user.createdOn | date:'medium' }}</td>
                    <td>{{ user.lastModified | date:'medium' }}</td>
                    <td>{{ user.lastLogin | date:'medium' }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Action <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-href="/admin/edituser/{{user._id}}"><i class="fa fa-pencil"></i> Edit</a></li>
                                <li ng-click="vm.deleteUser(user)"><a href="#"><i class="fa fa-trash"></i> Delete</a></li>
                                <li><a href="#"><i class="fa fa-info"></i> Details</a></li>
                            </ul>
                        </div>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>