<div class="middle atm-details-page">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="atm-card">
                <div class="atm-card-header">
                    <a href="/atm"><i class="fa fa-close fa-2x pull-right"></i></a>
                    <h2 class="text-center">ATM Transaction Details</h2>
                    <h4><span class="amount">{{ vm.totalAmount | currency}}</span>
                        <span class="date pull-right">{{ vm.transaction.date | date }}</span></h4>
                    <p class="location">{{ vm.transaction.location }}</p>
                </div>
                <div class="atm-card-body">
                    <div class="row form-inline">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label" for="amount">Amount</label>
                                <input class="form-control" type="number" name="amount"
                                placeholder="Purchase Amount"
                                ng-model="vm.newPurchase.amount">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label" for="description">Description</label>
                                <input class="form-control" type="text" name="description"
                                placeholder="Purchase Description"
                                ng-model="vm.newPurchase.description">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="addButton"></label>
                                <button class="btn btn-primary"
                                    ng-disabled="vm.isCardCompleted()"
                                    ng-click="vm.addPurchase()"><i class="fa fa-plus"></i> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>


                    <table class="table">
                        <tbody>
                            <tr ng-repeat="p in vm.purchases" purchase-item="p"> </tr>
                        </tbody>
                    </table>


                    <div class="row atm-total">
                        <div class="col-xs-3">
                            {{ vm.totalSpent | currency }}
                        </div>
                        <div class="col-xs-9">
                            total
                        </div>
                    </div>
                    <div class="row atm-remaining">
                        <div class="col-xs-3">
                            {{ (vm.totalAmount - vm.totalSpent) | currency }}
                        </div>
                        <div class="col-xs-9">
                            remaining
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
