<div class="container">
  <div class="col-lg-8 col-lg-offset-2">
    <h3>Transaction Details</h3>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h1 class="panel-title text-center">ATM Withdrawal</h1>
        <p class="text-right panel-heading">
          <span class="amount">{{ vm.totalAmount | currency }}</span> <em> on {{ vm.transaction.date | date  }} </em>
        </p>
        <p class="text-right">Location: <em>{{ vm.transaction.location }}</em></p>
      </div> <!-- end panel-header -->
        <div class="panel-body atm-details-item">
          <table class="table">
            <thead>
              <th>Amount</th>
              <th>Description</th>
            </thead>
            <tbody class="purchase-item">
              <tr>
                <td><input type="text" placeholder="Purchase Amount" ng-model="vm.newPurchase.amount"/></td>
                <td><input type="text" placeholder="Description" ng-model="vm.newPurchase.description"/></td>
                <td><button class="btn btn-primary" ng-click="vm.addPurchase()"><i class="fa fa-plus"></i> Add</button></td>
              </tr>
              <tr ng-repeat="p in vm.purchases">
                <td>{{ p.amount | currency }}</td>
                <td>{{ p.description }}</td>
                <td><i class="fa fa-trash" ng-click="vm.deletePurchase(p)"></i></td>
                <!--<td><a href="#"><i class="fa fa-pencil" ng-click="vm.editPurchase()"></i></a></td>-->
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>{{ vm.totalSpent | currency }}</td>
                <!--<td>$23.00</td>-->
                <td>total</td>
              </tr>
              <tr class="text-right remaining">
                <!--<td>{{ (atm.getTotalAmount(atm.xTransaction) - atm.getTotalSpent(atm.xTransaction)) | currency }}</td>-->
                <td>$20.00</td>
                <td>remaining</td>
              </tr>
            </tfoot>
          </table>
        </div>
    </div>
  </div>
</div>