<td ng-hide="vm.editPurchaseState">{{ vm.item.amount | currency }}</td>
<td ng-hide="vm.editPurchaseState">{{ vm.item.description }}</td>

<td ng-show="vm.editPurchaseState"><input type="text" ng-model="vm.item.amount"/></td>
<td ng-show="vm.editPurchaseState"><input type="text" ng-model="vm.item.description"/></td>

<td ng-hide="vm.editPurchaseState"><i class="fa fa-pencil" ng-click="vm.editPurchase()"></i></td>
<td ng-show="vm.editPurchaseState"><i class="fa fa-plus" ng-click="vm.updatePurchase()"></i></td>

<td><i class="fa fa-trash" ng-click="vm.deletePurchase()"></i></td>

