<div ng-controller="NavBarLoginController as vm">
    <form class="navbar-form navbar-right" name="loginForm" ng-hide="vm.identity.isAuthenticated()">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="username" ng-model="vm.username"/>
            <input type="password" class="form-control" placeholder="password" ng-model="vm.password"/>
            <button type="submit" class="btn btn-primary" ng-click="vm.login()" ng-disabled="loginForm.$invalid"><i class="fa fa-sign-in"></i>  Login</button>
            <button ng-click="vm.loginWithTwitter()" class="btn btn-info"> sign in with <i class="fa fa-twitter"></i></button>
            <a href="/register" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</a>
        </div>
    </form>
    <ul class="nav navbar-nav navbar-right" ng-show="vm.identity.isAuthenticated()">
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ vm.identity.currentUser.firstName + " " + vm.identity.currentUser.lastName }}
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/profile" ng-click=""><i class="fa fa-pencil"></i> Profile</a></li>
                <li><a href="/admin/users" ng-show="vm.identity.isAuthorizedForRole('admin')"><i class="fa fa-key"></i> Admin Page</a></li>
                <li><a href="#" ng-click="vm.signout()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
            </ul>
        </li>
    </ul>
</div>
